{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    {{ form_start(formPrefectureService) }}

    <div>
        {% if editMode %}
        <h2 class="mt-5 mb-5 h2_prefecture">Modifier un service</h2>
        {% else %}
        <h2 class="mt-5 mb-5 h2_prefecture">Ajouter un service</h2>
        {% endif %}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(formPrefectureService.nom, {'label': "Nom du service :", 'attr': {'placeholder': "Nom du service"}}) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">
        {% if editMode %}
        Modifier
        {% else %}
        Sauvegarder
        {% endif %}
    </button>

    {{ form_end(formPrefectureService) }}
</div>

{% endblock %}