{% extends 'base.html.twig' %}

{% block body %}

<section class="prefecture">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="ml-5 h2_prefecture d-flex align-items-center">Liste des autorités pour les préfectures</h2>
        <a href="{{ path('prefectureAutorite_ajouter') }}" class="btn mt-5 mb-5 mr-5 add_icon d-flex align-items-center">Ajouter</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr class="background_prefecture">
                <th scope="col" class="pl-5 text-left">Nom de l'autorité</th>
                <th scope="col" class="text-center pr-5"><i class="fas fa-cogs"></i></th>
            </tr>
        </thead>

        <tbody>
            {% for autorite in autorites %}
                <tr>
                    <td class="pl-5 text-left">{{ autorite.nom }}</td>
                    <td class="text-center">
                        <a data-toggle="tooltip" data-placement="top" title="Modifier l'autorité" href="{{ path('prefectureAutorite_modifier', {'id': autorite.id}) }}"><i class="ml-3 fas fa-pen pen_color "></i></a>
                        <a data-toggle="tooltip" data-placement="top" title="Supprimer l'autorité" href="{{ path('prefectureAutorite_supprimer', {'id': autorite.id}) }}"><i class="ml-3 far fa-trash-alt trash_color pr-5"></i></a>
                    </td>
                </tr>
            {% else %}
                <td class="pl-5 text-left">Il n'y a aucune autorité</td>
                <td class="text-center">...</td>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}
