@media (min-width: 1401px) and (max-width: 1609px) { 
    body{
        main{
            .left_branding{
                max-width: 20%;
            }
            .left_nav{
                max-width: 20%;
            }
            .top_logout{
                max-width:80%;
            }
            .main_content{
                max-width:80%;
            }
        }
    }
}