@media (min-width: 1610px) { 
    body{
        main{
            .left_branding{
                max-width: 17%;
            }
            .left_nav{
                max-width: 17%;
            }
            .top_logout{
                max-width: 83%;
            }
            .main_content{
                max-width: 83%;
            }
        }
    }
}