.background_stagiaire {
    background-color: rgba(0, 150, 136, 0.1);
}

.h2_stagiaire {
    color: #009688;
}

.stagiaire_border{
    padding: 0;
    border: solid 1px #cdcdcd;
}
#stagiaire_dateNaissanceStagiaire_day {
    margin-right: 15px;
}
#stagiaire_dateNaissanceStagiaire_month {
    margin-right: 15px;
}
