.background_stage {
    background-color: rgba(255, 87, 68, 0.1);
}

.h2_stage{
    color: #ff5744;
}

.lieustage_margin{
    margin: 0;
}

.lieustage_border{
    margin-top: 10%;
    padding: 0;
    border: solid 1px #cdcdcd;
}

.lieustage_button{
    margin-left: 25%;
}

table{
    margin: 0 !important;
}