.background_tribunal{
    background-color: rgba(64, 152, 243, 0.1);
}

.h2_tribunal{
    color: #4098f3;
}

.tribunal_add{
    margin-top: 2rem;
}

.tribunal_border{
    margin-top: 10% !important;
    padding: 0;
    border: solid 1px #cdcdcd;
}

#select{
    position: absolute;
    border: solid 1px black;
    background-color: white;
    height: 20%;
    overflow: auto;
}