{% extends 'base.html.twig' %}

{% block body %}

    {% if editMode %}
    <h1>Modifier un animateur</h1>
    {% else %}
    <h1>Ajouter un animateur</h1>
    {% endif %}

{{ form_start(formAnimateur) }}

<button type="submit" class="btn btn-primary">
    {% if editMode %}
    Modifier
    {% else %}
    Sauvegarder
    {% endif %}
</button>

{{ form_end(formAnimateur) }}

{% endblock %}