{% extends 'base.html.twig' %}

{% block body %}

    {% if editMode %}
    <h1>Modifier un statut</h1>
    {% else %}
    <h1>Ajouter un statut</h1>
    {% endif %}

{{ form_start(formAnimateurStatut) }}

<button type="submit" class="btn btn-primary">
    {% if editMode %}
    Modifier
    {% else %}
    Sauvegarder
    {% endif %}
</button>

{{ form_end(formAnimateurStatut) }}

{% endblock %}