{% extends "base.html.twig" %}

{% block body %}

<div class="container">

    {{ form_start(formAnimateurStatut) }}

    <div>
        {% if editMode %}
        <h2 class="mt-5 mb-5 h2_animateur">Modifier un statut</h2>
        {% else %}
        <h2 class="mt-5 mb-5 h2_animateur">Ajouter un statut</h2>
        {% endif %}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(formAnimateurStatut.nom, {'label': "Nom du statut :", 'attr': {'placeholder': "Nom du statut"}}) }}
            {{ form_errors(formAnimateurStatut) }}
        </div>
    </div>

     {% if editMode %}
    <button type="submit" class="btn btn-warning btn-link text-black mb-5 mt-3">
    Enregistrer
    </button>
    {% else %}
    <button type="submit" class="btn btn-success btn-link text-white mb-5 mt-3">
    Enregistrer
    </button>
    {% endif %}


    {{ form_end(formAnimateurStatut) }}
</div>


{% endblock %}