{% extends 'base.html.twig' %}

{% block body %}

<section class="animateur">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="ml-5 h2_animateur">Liste des statuts pour les animateurs</h2>
        <a href="{{ path('animateurStatut_ajouter')}}" class="btn mt-5 mb-5 mr-5 add_icon d-flex align-items-center">Ajouter</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr class="background_animateur">
                <th scope="col" class="pl-5 text-left">Nom du statut</th>
                <th scope="col" class="text-center pr-5"><i class="fas fa-cogs"></i></th>

            </tr>
        </thead>
        <tbody>
            {% for animateurstatut in animateurstatuts %}
            <tr>
                <td class="pl-5 text-left">{{ animateurstatut.nom }}</td>
                <td class="text-center">
                    <a data-toggle="tooltip" data-placement="top" title="Modifier le statut" href="{{  path('animateurStatut_modifier', {'id': animateurstatut.id}) }}"><i class="ml-3 fas fa-pen pen_color"></i></a>
                    <a data-toggle="tooltip" data-placement="top" title="Supprimer le statut" href="{{  path('animateurStatut_supprimer', {'id': animateurstatut.id}) }}"><i class="ml-3 trash_color far fa-trash-alt pr-5"></i></a>
                </td>
            </tr>
                {% else %}
                <td class="text-center">Il n'y a aucun statut</td>
                <td class="text-center">...</td>
            {% endfor %}
        </tbody>
    </table>

</section>
{% endblock %}