


<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  text-align: left;
}
table {
  width: 100%;    
  }
  h2 {
    text-align: center;
  }
   footer {
                position: fixed; 
                bottom: 0cm; 
                left: 0cm; 
                right: 0cm;
                height: 2cm;

                /** Extra personal styles **/

                text-align: center;
                line-height: 1.5cm;
            }
</style>
</head>
{% block body %}
        <h2>Liste des lieux de stage</h2>
    
    <table class="table table-striped">
        <thead>
            <tr class="background_stage">
                <th scope="col" class="pl-5 text-left">Nom de l'établissement</th>
                <th scope="col" class="text-left">Commune</th>
                <th scope="col" class="text-left">N° de téléphone</th>
                
            </tr>
        </thead>
        <tbody>
            {% for lieuStage in lieuStages %}
            <tr>
                <td class="pl-5 text-left">{{ lieuStage.nomEtablissement }}</td>
                <td class="text-left">{{ lieuStage.nomCommune }}</td>
                <td class="text-left">{{ lieuStage.telephoneStage }}</td>

                
            {% endfor %}
        </tbody>
    </table>

</section>
{% endblock %}
<footer>
            Copyright &copy; AFER 
           <script type="text/php">
     if ( isset($dompdf) ) {       
 $font = Font_Metrics::get_font('helvetica', 'normal');
        $size = 9;
        $y = $pdf->get_height() - 24;
        $x = $pdf->get_width() - 15 - Font_Metrics::get_text_width('1/1', $font, $size);
        $pdf->page_text($x, $y, '{PAGE_NUM}/{PAGE_COUNT}', $font, $size);
        }
</script> 
        </footer>