{% extends "base.html.twig" %}

{% block title %}Ajouter une autoritée de tribunal{% endblock %}

{% block body %}  

    <div>
        <h2>Ajouter une autoritée de tribunal</h2>
       
        <div class="content">
            
            <div>
                    {{ form_start(form) }}

                        {{ form_row(form.nom, {'label':"Nom de l'autoritée du tribunal", 'attr': {'placeholder': "Nom de l'autoritée"}}) }}
    
                        <button type="submit" class="btn btn-success">
                            {% if  editMode %}
                            Enregistrer les modifications
                            {% else %}
                                Ajouter l'autoritée  
                            {% endif %} 
                        </button>

                    {{ form_end(form) }}
            </div>
            
        </div>
    </div>


{% endblock %}