{% extends "base.html.twig" %}

{% block body %}

<div class="container">

    {{ form_start(form) }}

    <div>
        {% if editMode %}
        <h2 class="mt-5 mb-5 h2_tribunal">Modifier un service</h2>
        {% else %}
        <h2 class="mt-5 mb-5 h2_tribunal">Ajouter un service</h2>
        {% endif %}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.nom, {'label': "Nom du service :", 'attr': {'placeholder': "Nom du service"}}) }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">
        {% if editMode %}
        Modifier
        {% else %}
        Sauvegarder
        {% endif %}
    </button>

    {{ form_end(form) }}
</div>


{% endblock %}