{% extends 'base.html.twig' %}

{% block title %}Liste des autorités des tribunaux{% endblock %}

{% block body %}

    <h2>Liste des autorités des tribunaux</h2>
    {% for autorite in autorites %}
        <div>{{ autorite.nom }}</div>
        <div>
            <a href="{{path('tribunal_autorite_supprimer', {'id':autorite.id})}}" class="btn btn-danger">Supprimer</a>
            <a href="{{path('tribunal_autorite_modifier', {'id':autorite.id})}}" class="btn btn-primary">Modifier</a>
        </div>
    {% endfor %}
    
{% endblock %}
