<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <title>Oh non, pas de chance !</title>
</head>

<body class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div>
                <div class="d-flex justify-content-center">
                    <img src="{{ asset('build/static/bad-luck.gif') }}" alt="" class ="error_img">
                </div>
                <h2 class="text-center">Oh non, pas de chance !</h2>
                <p class="text-center">La page que vous recherchez peut avoir été supprimée ou n’avoir jamais existé.</p>
                <div class="d-flex justify-content-center"> {% block selectjs %}{% endblock %}
                    <a href="{{  path('admin') }}" class="btn btn-primary">Revenir à l'accueil</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>